/* CSS FOR LANDING PAGE */
/* Most of the code is self-explanatory */

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

/* Defining fonts and backgrounds */
body {  
   font-family: 'Nanum Gothic', sans-serif;
   background: url('assets/circles.png') no-repeat right top #ffffff;
   background-size: 81%;
   color: black;
}

.container {
    max-width: 1420px;
    margin: 0 auto;
}

header {
    text-align: left;
}

#commbanklogo {
    width: 135px;
}

nav {
    margin: 4em auto 0;
    max-width: 1000px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}


nav ul li a {
    font-size: 1em;
    transition: 0.4s all;
    color: black;
    font-weight: 800;
    text-decoration: none;
}

/* To change the colors of links */
nav ul li a:hover {
    background-color: #ddd;
    border-radius: 50px;
    color: rgb(108, 112, 90);
    padding: 20px;
  }

main {
    display: flex;
    flex-flow: row-reverse;
}

#box {
    width: 400px;
    height: 250px;
    margin: 120px;
    padding: 35px;
    background: #AAA5A7;
    box-shadow: 5px 5px #363636;
    border-radius: 70px;
}

.bigcontainer{
    text-align: left;
    max-width: 400px;
    line-height: 1.7em;
    margin: 0 auto;
    color: white;
}

.bigcontainer h1 {
    font-size: 5em;
    font-weight: 900;
    color: white;
}

/* The yellow line break before "let's get going" */
.bigcontainer p:before {
    content: "";
    display: block;
    width: 380px;
    color: #000000;
    border: 3px solid #FFCC00;
    margin: 2em auto;
}

.bigcontainer a {
    background: #FFCC00;
    padding: 1em 1.5em;
    border-radius: 100px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 300;
}

figure {
    text-align: left;
}

figure img {
    position: absolute;
    top: 200px;
    left: 700px;
    width: 600px;
}

/* For flexbox */

@media screen and (min-width: 820px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
    }

    nav {
        margin: 0;
    }
 
    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav ul li {
        list-style: none;
        padding: 0.5em 2em;
    }

    nav ul li a {
        font-size: 1.375em;
        color: black;
        font-weight: 700;
        text-decoration: none;
    }

    .highlight {
        border: 3px solid #FFCC00;
        border-radius: 30px;
    }

    main {
        flex-flow: column;
        flex-wrap: wrap;
    }

    .bigcontainer {
        text-align: center;
        flex-flow: column;
        flex-wrap: wrap;
}

    }

    .bigcontainer h1 {
        font-size: 2em;
    }


    .bigcontainer p:before {
        margin: 1.1em 0;
    }

    .bigcontainer p {
       font-size: 1.4em;
        padding: 0;
        margin: 0 0 2.5em;
    }

    .bigcontainer a {
        background: #363636;
        transition: font-size 0.35s ease;
        }
        
        .bigcontainer a:hover {

                background-color: #FFCC00; 
            
        }
    